.swiper-pagination-bullet {
   transition: transform 0.3s, border-color 0.3s;
   border: 2px solid transparent;
   transform: scaleY(1);
  transform-origin: bottom;
}

.swiper-pagination-bullet-active {
  border-color: var(--primary);
  transform: scaleY(1.1);
}